<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Event</title>
</head>
<body>
    <h1>Edit Event</h1>
    <div class="container">
        <form action="/admin/editEvent" method="post">
            <input type="hidden" name="id" value="{{event._id}}">
            Event Name: <br>
            <input type="text" name="txtUsername" class="form-control" value={{event.name}}><br>
            Start Date: <br>
            <input type="text" name="txtPassword" class="form-control"value={{event.startDate}}><br>
            End Date: <br>
            <input type="text" name="txtEmail" class="form-control" value={{event.endDate}}><br>
        <center>
            <button type="submit" class="btn btn-danger">Edit Event</button>
        </center>
        </form>
    </div>
</body>
</html>