<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>FPT University</h1>
    <div class = "bar">
        <a href="/admin/home">XX University</a>
        <a href="/admin/viewIdea">View Idea</a>
        <a href="/admin/newAccount">Add a new account</a>
        <a href="/admin/viewAccount">View Account</a>
        <a href="/admin/viewEvent">View Event</a>
        <a href="/admin/createEvent">Create Event</a>
        <a href="/logout">Logout</a> 
    </div>
</body>
</html>