<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Account</title>
</head>
<body>
    <h1>Edit user!</h1>
    <div class="container">
        <form action="/admin/doUpdateAccount" method="post">
            <input type="hidden" name="id" value="{{account._id}}">
            Username: <br>
            <input type="text" name="txtUsername" class="form-control" value={{account.userName}}><br>
            Password: <br>
            <input type="text" name="txtPassword" class="form-control"value={{account.password}}><br>
            Role: <br>
            <input type="text" class="form-control"value={{account.role}}><br>
            <br>
            Change Role:
            <select name="Role">
                <option value="Admin">Admin</option>
                <option value="Tester">Tester</option>
            </select>
        <center>
            <button type="submit" class="btn btn-danger">Update</button>
        </center>
        </form>
    </div>
</body>
</html>