<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Category</title>
</head>
<body>
    <h2>New Category</h2>
    <form action="/qamanager/addCategory" method="post">
        <form action="/qamanager/addCategory" method="post">
            Name: <input type="text" name="txtName" id="txtName" value="{{oldValues.name}}">
            <span style="color: red;">{{errorName}}</span>
            <input type="submit" value="Insert">
        </form>
    </form>
</body>
</html>