<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Welcome back Adminstrator</h1>
    <ul></ul>
        <li><a href="/qamanager/home">Add a new account</a></li>
        <li><a href="/qamanager/viewIdea">View All Idea</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    
</body>
</html>