<html lang="en">
<link href="~/Content/Style.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/e4457baa3d.js" crossorigin="anonymous"></script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body class="">
    <div>
        <div class="m-xxl-5 d-flex justify-content-between">
            <div class="">
                <h2>FPT GREENWICH </h2>
            </div>
            <div>
                <div class="btn btn-light">Home</div>
                <div class="btn btn-light">Ideas</div>
                <div class="btn btn-light">Account</div>
            </div>
        </div>
        <div class="border border-4 border-primary mb-4 boder-size"></div>
        <h3 class="text-center pb-4"> FORM POST IDEA</h3>
        <div class="View-createidea">
            <span>Title</span>
            <div class="input-group mb-3">
                <input type="text" class="form-control rounded" placeholder="Write title" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="View-createidea">
            <span>Category</span>
            <div class="input-group flex-nowrap control-input-account mb-4">
                <select class="form-select border-0 box-shadow-none" name="Gender" id="validationDefault04" required>
                    <option selected disabled value="">Category</option>
                    <option>Category 1</option>
                    <option>Category 2</option>
                    <option>Category 3</option>
                    <option>Category 4</option>
                    <option>Category 5</option>
                </select>
            </div>
        </div>
        <div class="View-createidea">
            <span>Idea content</span>
            <div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control rounded" placeholder="Write title" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="text-center mb-3">
            <div class="btn border border-primary">
                <i class="fa-solid fa-folder-open"></i>
                <span>Choose File</span>
            </div>
        </div>
        <div class="text-center">
            <input class="btn btn-warning" type="submit" value="Submit"/>
        </div>
    </div>
</body>
</html>